.mytext{
    position: absolute;
    width:200px;
    height: 200px;
    top:50%;
    left: 12%;
    transform: translateX(-50%);
    text-align: center;
    background-image: url(img/elephant.png);
    background-size:contain;
    background-repeat: no-repeat;
    color: transparent;
    z-index: 1;

}
#test{
    position: relative;


}