

.opened{

    background: url(../img/up.png) no-repeat;
    width: fit-content; /* Width of new image */
    height: 100px; /* Height of new image */
    padding-left: 100px; /* Equal to width of new image */
    transition:2s;
}
.closed{


    background: url(../img/up.png) no-repeat;
    transform: rotate3d(1, 0, 0, 180deg);
    width: fit-content; /* Width of new image */
    height: 100px; /* Height of new image */
    padding-left: 100px; /* Equal to width of new image */
    transition:2s;
}
