#a::after{
    content:"\02C4";
    width:10px;
}

.opened{

    width:10px;
    color:#bf15aa;
    font-weight:400;
    font-size:39px !important;
    transition:2s ease-in-out;
}
.closed{
    width:10px;
    transform: rotate3d(1, 0, 0, 180deg);
    color:#bf15aa;
    font-weight:400;
    font-size:39px !important;
    transition:2s ease-in-out;

}
