body {
    background-color: black;
}

#test{
height: 500px;
width: 800px;
background-color: #193c6d;
text-align: center;
margin: 0px auto;
overflow:overlay;
}



canvas{
margin-top:-300px !important;
}
#test{
border:5px solid red;
margin-left:100px !important;
}
.mytext{
border:5px solid orange;

}

.control{
border:1px solid white;
width:fit-content;
margin:10px auto;
color:white;
padding:10px;
}
