
[tooltip]::after{
    content:attr(tooltip);
    position:absolute;
    background-color:#aecfec;
    padding:0.5em;
    pointer-events:none;
    opacity:0;
    transition:0.01s ease-in-out;
    max-width:400px;
    height:16px;
    bottom:10px;
    right:-100px;
    white-space:nowrap;
    top: -0.5em;
    border-radius:3px;
    font-size:13px;
    font-family:monospace;
    color:#fff;
    font-wight:500;
    text-transform:uppercase;
}

[tooltip]::before{
    content:'';
    position:absolute;
    background-color:#aecfec;
    padding:0.5em;

    opacity:0;
    transition:1.01s cubic-bezier(0, 2.42, 0, 1.9);
    max-width:400px;
    height:1px;
    width:1px;
    transform:rotate(45deg);
    right:-20px;
}

/* Standard syntax */
@keyframes animWidth {
    from {
        transform:rotate(0deg);
        right:-33px;
    }
    to {
        transform:rotate(45deg);
        right:-20px;
    }
}

[tooltip]:hover::before{
    opacity:1;
    animation-name: animWidth;
    animation-duration: 1.0s;

}
[tooltip]:hover::after{
    opacity:1;
}
